/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

header {
  background-attachment: fixed;
  background-image: url("./../assets/images/background-image.webp");
  background-position: center;
  background-size: cover;
}
.h-full {
  height: 100vh;
}
.p-sm {
  padding: 10px;
}
.pl-2xl,
.pr-2xl {
  padding-left: 70px;
  padding-right: 70px;
}
.pt-xl {
  padding-top: 40px;
}
.mb-sm {
  margin-bottom: 10px;
}
.m-auto {
  margin: auto;
}
.max-w-70 {
  max-width: 70rem;
}
.w-40 {
  width: 400px;
}
.flex {
  display: flex;
}
.display-none {
  display: none;
}
.flex-evenly {
  justify-content: space-evenly;
}
.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-xl {
  font-size: 25px;
}
.top-bar > a {
  font-size: 25px;
  font-weight: 600;
}
.top-bar.sticky {
  background-color: rgba(42, 41, 41, 0.925);
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.top-bar.sticky > nav {
  margin-right: 60px;
}
a {
  text-decoration: none;
  color: white;
}
.menu-toggle {
  font-size: 2rem;
  cursor: pointer;
}
.text-white {
  color: #fff;
}
h1 {
  font-size: 60px;
  font-weight: 800;
}
.par1 {
  line-height: 1.6;
  word-spacing: 2px;
  margin-bottom: 30px;
}
.par2 {
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 12px 18px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 1em;
  transition: all 0.2s ease;
  background-color: #d0f4ea;
}

button:hover {
  opacity: 0.9;
}
.about-us {
  text-align: center;
  padding: 200px;
}
.about-us > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-us p {
  max-width: 45ch;
  text-align: left;
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 20px;
  line-height: 2;
  font-size: 17px;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: rgb(57, 54, 54);
  border: 2px solid rgb(196, 171, 31);
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: #666;
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
  }

  .sm-hidden {
    display: none;
  }

  .sm-block {
    display: block;
  }
  .md-pl-md,
  .md-pr-md {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-us {
    padding: 20px;
  }
}
